<html>
    <head />
    <link rel="stylesheet" href={{ url_for('static', filename='style.css') }} />
    <title>{{queried_food}}</title>
    </head>
    <body>
    <div class="app-container">
        <div class="recipe-container">
            <div class="recipe-title">
                <h1>{{queried_food}}</h1>
            </div>
            <div class="recipe-content">
                <div class="recipe-image">
                     <img src="{{recipe_image}}" alt="alternatetext"> 
                </div>
                <div class="recipe-information">
                    <p>Ready in: {{prep_time}} Minutes</p>
                    <p>Servings: {{servings}}</p>
                    <p></p>
                </div>
            </div>
        </div>
        <div class="tweet-wrapper">
            <p>{{content}} <a href="https://twitter.com/{{author}}"><i>@{{author}}</i></a> {{at}}</p>
        </div>
    </div>
    </body>
</html>
